<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/IAWS_CM3/src/fr/ups/mdl/iaws/DemoSAX.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fr.ups.mdl.iaws.DemoSAX"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="IAWS_CM3"/>
</launchConfiguration>
